.slownik {
    padding-inline: 5%;
    padding-block: 40px;
    background-color: #0a0a1a;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.slownik-title {
    font-size: 32px;
    font-weight: 700;
    color: #4de2ff;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.slownik-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.slownik-box {
    flex: 1 1 calc(50% - 20px); 
    max-width: calc(50% - 20px);

    background-color: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 8px;

    padding: 16px 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 6px;
}

.slownik-box-title {
    font-size: 24px;
    font-weight: 700;
    color: #4de2ff;
}

.slownik-box-desc {
    font-size: 15px;
    color: #cfcfcf;
    line-height: 1.45;
}

.slownik-search {
    padding-inline: 5%;
    margin-bottom: 30px;
    margin-top: 128px;
}

#slownikInput {
    width: 100%;
    max-width: 600px;
    padding: 14px 18px;

    background-color: #0f1629;
    border: 1px solid rgba(80, 140, 255, 0.35);
    border-radius: 10px;

    color: #e7f0ff;
    font-size: 16px;

    outline: none;
    transition: 0.2s;
}

#slownikInput::placeholder {
    color: #8fa3c9;
}

#slownikInput:focus {
    border-color: #4de2ff;
    box-shadow: 0 0 10px rgba(77, 226, 255, 0.4);
}


@media (max-width: 700px) {
    .slownik-box {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
